
#date1{
    background-color:gray;
    color:white;
    height:150px;
    
}
#date2{
    background-color:gray;
    color:white;
    height:150px;

}
#date3{
    background-color:gray;
    color:white;
    height:150px;
}
#head-right{
    background-color:black;
    text-align:center;
    color:yellow;
    height:100px;
}
#head-left{
background-color:black;
    
    
}
#body1{
    background-color:yellow;
}

a:hover{
    background-color:black;
    color:yellow;

}
#footer{
    background-color:black;
}
